
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title th:text="#{M_1300_IV_TAG}"></title>
	<head th:include="compage/comCSS::commCss"></head>
	<span th:include="compage/comJS :: commJs"></span>
	<script th:src="@{js/pages/1000/1300.js}"></script>
	<script th:src="@{js/dialog/bis_data_6300_Dialog.js}"></script>
	<!--<script th:src="lib/fileinput/js/fileinput.min.js"></script>-->
	<!--<script th:src="lib/fileinput/js/fileinput_locale_zh.js"></script>-->
</head>
<body>
    <div th:include="compage/navbar :: ComTop"></div>
	<div class="container-fluid">
		<div class="col-lg-12 btnDivCss">

			<button class="btn btn-success btn-lg" id="save_btn">
				提交
			</button>

			<!--<button class="btn btn-warning" id="clear_btn">-->
				<!--清空-->
			<!--</button>-->

			<!--<button class="btn btn-danger" id="del_btn">-->
				<!--删除-->
			<!--</button>-->
		</div>
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12" id="rightDiv">
		<div class="cardBox cardBoxTable noPosition" style="border: none;">
				<div class="tab-content tabs">
					<div role="tabpane" class="tab-pane fade in active" id="tab3">
						<form class="form-horizontal">
							<div class="col-lg-10 col-md-10 col-sm-10 form-group">

								<div class="col-lg-6 col-md-6 col-sm-6 form-group">
									<label class="control-label col-lg-4 col-md-4 col-sm-4" for="lotId">批次号</label>
									<div class="col-lg-8 col-md-8 col-sm-8">
										<input type="text" class="form-control" id="lotId"/>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 form-group">
									<label class="control-label col-lg-4 col-md-4 col-sm-4" for="power">功率</label>
									<div class="col-lg-8 col-md-8 col-sm-8">
										<input type="text" class="form-control" id="power"/>
									</div>
								</div>
							</div>

							<div class="col-lg-10 col-md-10 col-sm-10 form-group">
								<div class="col-lg-6 col-md-6 col-sm-6 form-group">
									<label class="control-label col-lg-4 col-md-4 col-sm-4" for="isc">ISC</label>
									<div class="col-lg-8 col-md-8 col-sm-8">
										<input type="text" class="form-control" id="isc" form-group ="margin-botton"/>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 form-group">
									<label class="control-label col-lg-4 col-md-4 col-sm-4" for="voc">VOC</label>
									<div class="col-lg-8 col-md-8 col-sm-8">
										<input type="text" class="form-control" id="voc" />
									</div>
								</div>
							</div>

							<div class="col-lg-10 col-md-10 col-sm-10 form-group">
								<div class="col-lg-6 col-md-6 col-sm-6 form-group">
									<label class="control-label col-lg-4 col-md-4 col-sm-4" for="imp">IMP</label>
									<div class="col-lg-8 col-md-8 col-sm-8">
										<input type="text" class="form-control" id="imp" />
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 form-group">
									<label class="control-label col-lg-4 col-md-4 col-sm-4" for="vmp">VMP</label>
									<div class="col-lg-8 col-md-8 col-sm-8">
										<input type="text" class="form-control" id="vmp" />
									</div>
								</div>
							</div>

							<div class="col-lg-10 col-md-10 col-sm-10 form-group">
								<div class="col-lg-6 col-md-6 col-sm-6 form-group">
									<label class="control-label col-lg-4 col-md-4 col-sm-4" for="vmp">ff</label>
									<div class="col-lg-8 col-md-8 col-sm-8">
										<input type="text" class="form-control" id="ff" />
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 form-group">
									<label class="control-label col-lg-4 col-md-4 col-sm-4" for="temp">温度</label>
									<div class="col-lg-8 col-md-8 col-sm-8">
										<input type="text" class="form-control" id="temp" />
									</div>
								</div>
							</div>

							<div class="col-lg-10 col-md-10 col-sm-10 form-group">
								<div class="col-lg-6 col-md-6 col-sm-6 form-group">
									<label class="control-label col-lg-4 col-md-4 col-sm-4" for="cal">校准版</label>
									<div class="col-lg-8 col-md-8 col-sm-8">
										<input type="text" class="form-control" id="cal" />
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 form-group">
									<label class="control-label col-sm-4" for="meas_timestamp">
										测试时间</label>
									<div class="col-sm-8">
										<input id="meas_timestamp" type="text" class="form-control">
									</div>
								</div>
							</div>

							<div class="col-lg-10 col-md-10 col-sm-10 form-group">
								<div class="col-lg-6 col-md-6 col-sm-6 form-group">
									<label class="control-label col-lg-4 col-md-4 col-sm-4" for="cal">选择图片</label>
									<div class="col-lg-8 col-md-8 col-sm-8">
										<input type="file" name="file" id="img"/>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
		</div>
	</div>
</body>
</html>