
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <head th:include="compage/comCss::commCss"></head>
    <span th:include="compage/comJs :: commJs"></span>
    <script th:src="@{js/pages/2000/2100.js}"></script>
    <title th:text="#{M_2100_USR_MANAGE_TAG}"></title>
</head>
<body>
<div th:include="compage/navbar :: ComTop"></div>
<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 btnDivCss">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <button class="btn btn-info" id="query_btn">查询</button>
            <button class="btn btn-danger" id="delete_btn">删除</button>
            <button class="btn btn-warning" id="update_btn">更新</button>
            <button class="btn btn-primary" id="add_btn">新增</button>
            <button class="btn btn-success" id="register_btn">保存</button>
        </div>
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class = "col-lg-4 col-md-4 col-sm-4">
            <div class="cardBox cardBoxTable noPosition" style="border: none;">
                <div class="tab" role="tabpane">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" style="border: none;">
                        <li role="presentation" class="active">
                            <a href="#tab1" aria-controls="tabpane" role="tab" data-toggle="tab">
                                <i class="fa fa-table"></i>
                                用户列表
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tabs">
                        <div role="tabpane" class="tab-pane fade in active" id="tab1">
                            <fieldset>
                                <div id="usrListDiv" class="col-lg-12 col-md-12 col-sm-12" style="padding-left: 0; padding-right: 0;">
                                    <table id="usrListGrd"></table>
                                    <div id="usrListPg"></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "col-lg-8 col-sm-8 col-md-8">
            <div class="cardBox cardBoxTable noPosition" style="border: none;">
                <div class="tab" role="tabpane">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" style="border: none;">
                        <li role="presentation" class="active">
                            <a href="#tab1" aria-controls="tabpane" role="tab" data-toggle="tab">
                                <i class="fa fa-table"></i>
                                用户信息
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tabs">
                        <div role="tabpane" class="tab-pane fade in active" id="tab2">
                            <form class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label class="control-label col-sm-2" for="usrIdTxt" th:text="#{USR_ID_TAG}">
                                    </label>
                                    <div class="col-sm-4">
                                        <input id="usrIdTxt" type="text" class="form-control"/>
                                    </div>
                                    <label class="control-label col-sm-2" for="usrNameTxt" th:text="#{USR_NAME_TAG}">
                                    </label>
                                    <div class="col-sm-4">
                                        <input id="usrNameTxt" type="text" class="form-control"/>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 input-top">
                                    <label class="control-label col-sm-2" for="usrTypeSel" th:text="#{USR_TYPE_TAG}">
                                    </label>
                                    <div class="col-sm-4">
                                        <select id="usrTypeSel" type="text" class="form-control"></select>
                                    </div>
                                    <label class="control-label col-sm-2" for="usrFtySel" th:text="#{FATY_NAME_TAG}">
                                    </label>
                                    <div class="col-sm-4">
                                        <select id="usrFtySel" type="text" class="form-control"></select>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 input-top">
                                    <label class="control-label col-sm-2" for="phoneTxt" th:text="#{USR_PHONE_TAG}">
                                    </label>
                                    <div class="col-sm-4">
                                        <input id="phoneTxt" type="text" class="form-control"/>
                                    </div>
                                    <label class="control-label col-sm-2" for="mailTxt" th:text="#{USR_MAIL_TAG}">
                                    </label>
                                    <div class="col-sm-4">
                                        <input id="mailTxt" type="text" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 input-top">
                                    <label class="control-label col-sm-2" for="adminFlg" th:text="#{USR_ADMIN_TAG}">
                                    </label>
                                    <div class="col-sm-2">
                                        <input id="adminFlg" type="checkbox" class="form-control"/>
                                    </div>
                                    <label class="control-label col-sm-2" for="validFlg" th:text="#{USR_VALID_TAG}">
                                    </label>
                                    <div class="col-sm-2">
                                        <input id="validFlg" type="checkbox" class="form-control"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 用户查询 -->
<div id="usrSelectDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" th:text="#{USR_QUERY_TAG}"></h4>
            </div>

            <!--Modal header-->

            <div class="modal-body">
                <div class="row">
                    <div id="usrSelectForm" class="row form-horizontal">
                        <div class="control-group ">
                            <label class="control-label col-sm-4" for="usrSelectDialog_idTxt" th:text="#{USR_ID_TAG}">
                            </label>
                            <div class="col-sm-5">
                                <input id="usrSelectDialog_idTxt" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a id="usrSelectDialog_cancelBtn" class="btn" data-dismiss="modal" th:text="#{CANCEL_BTN_TAG}"></a>
                <a id="usrSelectDialog_queryBtn" class="btn btn-primary" th:text="#{QUERY_BTN_TAG}"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
