
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<head th:include="compage/comCss::commCss"></head>
	<span th:include="compage/comJs :: commJs"></span>
	<script th:src="@{js/pages/2000/2200.js}"></script>
	<title th:text="#{M_2100_USR_MANAGE_TAG}"></title>
</head>
<body>
    <div th:include="compage/navbar :: ComTop"></div>
	<div class="container-fluid">
		<div class="col-lg-12 col-md-12 col-sm-12 btnDivCss">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<button class="btn btn-info" id="query_btn" th:text="#{QUERY_BTN_TAG}"></button>
				<button class="btn btn-success" id="registe_btn" th:text="#{SAVE_BTN_TAG}"></button>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class = "col-lg-4 col-md-4 col-sm-4">
				<div class="cardBox cardBoxTable noPosition" style="border: none;">
					<div class="tab" role="tabpane">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist" style="border: none;">
							<li role="presentation" class="active">
								<a href="#tab1" aria-controls="tabpane" role="tab" data-toggle="tab">
									<i class="fa fa-table" th:text="#{USR_LIST_TAG}"></i>
								</a>
							</li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content tabs">
							<div role="tabpane" class="tab-pane fade in active" id="tab1">
								<div id="usrListDiv" class="col-lg-12 col-md-12 col-sm-12" style="padding-left: 0; padding-right: 0;">
									<table id="usrListGrd"></table>
									<div id="usrListPg"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class = "col-lg-8 col-md-8 col-sm-8">
				<div class="cardBox cardBoxTable noPosition" style="border: none;">
					<div class="tab" role="tabpane">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist" style="border: none;">
							<li role="presentation" class="active">
								<a href="#tab1" aria-controls="tabpane" role="tab" data-toggle="tab">
									<i class="fa fa-table" th:text="#{USR_AUT_TAG}"></i>
								</a>
							</li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content tabs">
							<div role="tabpane" class="tab-pane fade in active" id="tab2">
								<div id="usrAutListDiv" class="col-lg-12 col-md-12 col-sm-12" style="padding-left: 0; padding-right: 0;">
									<table id="usrAutListGrd"></table>
									<div id="usrAutListPg"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 用户查询 -->
	<div id="usrSelectDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!--Modal header-->
				<div class="modal-body">
					<div class="row">
						<form id="usrSelectForm" class="row form-horizontal">
							<div class="control-group ">
								<label class="control-label col-lg-4 col-md-4 col-sm-4" for="usrSelectDialog_idTxt"> <s:message code="USR_TAG" />
								</label>
								<div class="col-lg-5 col-md-5 col-sm-5">
									<input id="usrSelectDialog_idTxt" class="form-control"/>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<a id="usrSelectDialog_cancelBtn" class="btn" data-dismiss="modal" th:text="#{CANCEL_BTN_TAG}"></a>
					<a id="usrSelectDialog_queryBtn" class="btn btn-primary" th:text="#{QUERY_BTN_TAG}"></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

