<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{M_3200_IMG_DATA_TAG}"></title>
    <head th:include="compage/comCSS::commCss"></head>
    <span th:include="compage/comJS :: commJs"></span>
    <script th:src="@{js/pages/3000/3200.js}"></script>
</head>
<body>
<div th:include="compage/navbar :: ComTop"></div>
<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 btnDivCss">
        <button class="btn btn-warning" id="import_btn" th:text="#{IMPORT_IMG_BTN_TAG}"></button>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="cardBox cardBoxTable noPosition" style="border: none;">
            <div class="tab" role="tabpane">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" style="border: none;">
                    <li role="presentation" class="active">
                        <a href="#tab1" aria-controls="tabpane" role="tab" data-toggle="tab">
                            <i class="fa fa-table" th:text="#{IMG_INFO_TAG}"></i>
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div role="tabpane" class="tab-pane fade in active" id="tab1">
                        <form class="form-horizontal">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="imgTypeSl" th:text="#{IMG_TYPE_TAG}"></label>
                                    <div class="col-lg-8">
                                        <select id="imgTypeSl" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="uploadFile" th:text="#{ADD_FILE_TAG}"></label>
                                    <div class="col-lg-8">
                                        <input id="uploadFile" type="file" multiple  class="form-control" style="width: 100%"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>